#profile404-background {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#profile404-text {
  text-align: center;
  width: 300px;
  color: white;
}

/* Smaller screens */
@media screen and (max-width: 600px) {
  #profile404-text {
    padding-bottom: 100px;
    margin-bottom: 50px;
  }

  h1 {
    margin-bottom: 0px;
  }

  h2 {
    margin: 0px;
  }

  #goomba-div {
    width: 200px;
  }
}

/* Larger screens */
@media screen and (min-width: 600px) {
  #profile404-text {
    padding-top: 50px;
  }

  h1 {
    margin-bottom: 15px;
  }

  h2 {
    margin-top: 0px;
    margin-bottom: 45px;
  }

  #goomba-div {
    width: 300px;
  }
}
