@media screen and (min-width: 862px) {
    .img{
      background-image: url("https://wallpapershome.com/images/pages/pic_h/23188.jpg");
      height: 100vh;
    } 
  }
  
  
  @media screen and (max-width: 862px) {
    .img {
      background-color: rgb(195, 148, 148) ;
    }
  }
  