@media screen and (min-width: 862px) {
  .listening {
    display: flex;
    justify-content: center;
    font-size: 100px;
    line-height: 120px;
  }

  .start-button-div {
    padding-left: 100px;
  }

  #logo-div {
    padding-left: 24px;
  }
}

/* Medium to small screens */
@media screen and (max-width: 862px) {
  .listening {
    margin-top: 200px;
    font-size: 75px;
  }
}

/* Below 600px */
@media screen and (max-width: 600px) {
  #logo-div {
    display: flex;
    justify-content: center;
  }
  
  .start-button-div {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}

@media screen and (max-width: 426px) {
  .listening {
    margin-top: 200px;
    font-size: 50px;
  }
}

.listening {
  font-family: "Yeseva One", cursive;
  color: #fff;
  text-align: center;
}

/* @media screen and(max-width: 600px) {
  .start-button-div {
  padding-left: 50px;
  }
} */

/* @media screen and(min-width: 600px) {
  .start-button {
    float: right;
  }
} */

.video {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100vh;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.5;
}

.layout {
  background: #333;
  width: 100 vw;
  height: 100vh;
  overflow: hidden;
  opacity: 0.95;
}



/* 

html{
  background: #333;
  width: 100 vw;
  height: 100vh;
  overflow: hidden;
  opacity: 0.95;
} */

/* body{
  background-color: rgb(18, 17, 17);
} */
