/* 
@media screen and (min-width: 862px) {
  .img{
    background-image: url("https://wallpapershome.com/images/pages/pic_h/23188.jpg");
  } 
}


@media screen and (max-width: 862px) {
  .img {
    background-color: rgb(195, 148, 148) ;
  }
  
} */

.listening{
  font-size: 100px;
  font-family: 'Yeseva One', cursive;
  padding-top:  450px;
  padding-bottom: 20px;
  color: #fff;

}




.video{
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100vh;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.5;
  


  
  
}



html{
  background: #333;
  width: 100 vw;
  height: 100vh;
  overflow: hidden;
  opacity: 0.95;
}


/* body{
  background-color: rgb(18, 17, 17);
} */
