@media screen and (min-width: 862px) {
  .listening {
    margin-top: 460px;
    padding-bottom: 20px;
    font-size: 100px;
  }
}

/* Medium to small screens */
@media screen and (max-width: 862px) {
  .listening {
    margin-top: 350px;
    font-size: 75px;
  }
}

@media screen and (max-width: 426px) {
  .listening {
    margin-top: 350px;
    font-size: 50px;
  }
}

.listening {
  
  font-family: "Yeseva One", cursive;
  color: #fff;
}

.video {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100vh;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.5;
}

.layout {
  background: #333;
  width: 100 vw;
  height: 100vh;
  overflow: hidden;
  opacity: 0.95;
}

/* 

html{
  background: #333;
  width: 100 vw;
  height: 100vh;
  overflow: hidden;
  opacity: 0.95;
} */

/* body{
  background-color: rgb(18, 17, 17);
} */
