@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

/* html, body {
  font-family: 'Quicksand', sans-serif;
  height: 100%;
} */

#contain {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.inputContainer {
  position: relative;
  margin: 24px;
  
  
  
  
}


label {
    font-size: 0.9em;
    display: block;
    margin-bottom: 6px;
    line-height: 0px;
}

input {
    margin-top: 6px;
    height: 30px;
    width: 300px;
}

