
#heading {
    font-size: 18px;
    color: white;
    margin-top: 8px;
  } 

  @media screen and (max-width: 482px) {
    #heading {
        margin-top: 14px;
    }
  }

  .styled-button {
    color: rgba(204, 162, 162) !important;
    text-decoration: none;
    /* text-transform: uppercase; */
    background: rgba(0,0,0,.5);
    padding-left: 5px;
    padding-right: 5px;
    border: 4px solid rgba(204, 162, 162)!important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
  }
  
  .styled-button:hover {
    color: rgb(207, 104, 104) !important;
    border-radius: 50px;
    border-color: rgb(207, 104, 104) !important;
    transition: all 0.3s ease 0s;
  }

  .red-styled-button {
    color: rgb(236, 72, 72) !important;
    text-decoration: none;
    font-size: 15px;
    /* text-transform: uppercase; */
    background: rgba(0,0,0,.5);
    padding-left: 5px;
    padding-right: 5px;
    border: 4px solid rgb(236, 72, 72) !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
  }
  
  .red-styled-button:hover {
    color: rgb(177, 35, 35) !important;
    border-radius: 50px;
    border-color: rgb(177, 35, 35) !important;
    transition: all 0.3s ease 0s;
  }
  