/* .btn{
    margin: 50px 50px ;
    background-color:rgb(18, 75, 172);
    color:#fff;
    font-size: 20px;
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;
    border: 0;
    margin-top: 45%

}
.btn:focus{
    outline: 0;
} */



.btn-start {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid rgb(207, 104, 104);
  color: #000;
  cursor: pointer;
  padding: 0.7em 1.5em;
  
  transition: all 0.25s ease;

  margin: 3px;
  margin-top: 0.75em;
  font-size: 20px;
  background-color: rgb(207, 104, 104);
}




.btn-start:hover {
  background: #fff;
  color: #333;
}
