.accordion {
  border-radius: 20px;
}

#spotify-login-div {
  text-align: center;
}

.spotify-login-btn-disabled {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid rgb(132, 214, 160);
  color: rgb(88, 88, 88);
  padding: 0.7em 1.5em;
  margin: 3px;
  margin-top: 0.75em;
  font-size: 20px;
  background-color: rgb(132, 214, 160);
}

.spotify-login-btn {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid rgb(30, 215, 96);
  color: #000;
  cursor: pointer;
  padding: 0.3em .7em;
  transition: all 0.25s ease;
  font-size: 20px;
  background-color: rgb(30, 215, 96);
}

.spotify-login-btn:hover {
  background: #fff;
  color: #333;
}

#iframe-div {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.profile-h2 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 15px;
  font-family: "Montserrat Subrayada", sans-serif;
  color: white;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(141, 106, 106, 0);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(204, 162, 162);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(133, 92, 92);
}

.accordion-div {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 964px) {
  .profile-img{
    background-image: url("https://wallpapershome.com/images/pages/pic_h/23188.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-color: rgb(195, 148, 148);
    background-attachment: fixed;
    background-size: cover;
    overflow: scroll;
  } 

  #motion-div {
    margin-top: 90px;
  }

  #player-pulse-div {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
  }

}

@media screen and (max-width: 960px) {
  .profile-img {
    background-color: rgb(195, 148, 148);
  }

  #motion-div {
    margin-bottom: 50px;
  }

  #player-pulse-div {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
  }
}
