.accordion {
  border-radius: 20px;
}

 #activity-h2 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: 'Montserrat Subrayada', sans-serif;
  color: white;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(204, 162, 162);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(133, 92, 92);
}

.accordion-div {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

/* #rotated-line-pulse {
  transform:rotateY(180deg);
} */


@media screen and (min-width: 862px) {
  .img{
    background-image: url("https://wallpapershome.com/images/pages/pic_h/23188.jpg");
    height: 100vh;
  } 
}


@media screen and (max-width: 862px) {
  .img {
    background-color: rgb(195, 148, 148) ;
  }
}



