.accordion {
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(204, 162, 162);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(133, 92, 92);
}

.accordion-div {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
