#grid-container {
  display: flex;
  justify-content: center;
}

#or {
  color: white;
  font-family: "Montserrat Subrayada";
}

@media screen and (min-width: 1300px) {
  #signin-div {
    padding-left: 200px;
  }

  #signup-div {
    padding-right: 200px;
  }
}

@media screen and (min-width: 964px) {
  #grid-container {
    margin-top: 50px;
  }

  #motion-media-div {
    margin-top: 150px;
  }
}

@media screen and (min-width: 964px) and (max-width: 1300px) {
  #signin-div {
    padding-left: 100px;
  }

  #signup-div {
    padding-right: 100px;
  }
}

#signin-div {
  display: flex;
  justify-content: center;
}

#signup-div {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 964px) {
  #signup-div {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  #signin-div {
    margin-top: 40px;
  }

  #motion-media-div {
    margin-top: 50px;
  }
}
