#grid-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#or {
  color: white;
  font-family: "Montserrat Subrayada";
}

#signin-div {
    display: flex;
    justify-content: center;
    padding-right: 200px;
}

#signup-div {
    display: flex;
    justify-content: center;
    padding-left: 200px;
}

@media screen and (max-width: 864px) {
  #or {
    margin-top: 200px;
  }
}
