.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
  /* margin-right: 50px; */
}
#account-circle-div {
  margin-top: 25px;
}

@media screen and (min-width: 600px) {
  #account-circle-div {
    margin-left: 25px;
  }
  .logo {
    margin-left: 25px;
    margin-top: 20px;
  }
}

/* 
.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    Color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    /* transition: border-bottom 0.2s; */
/*} 

/* .main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 3px solid #e67e22;
}  */

.logo {
  float: left;
  /* margin-top: 45px; */
  font-size: 40px;
  font-family: "Concert One", cursive;
  color: #fff;
}

@media screen and (max-width: 720px) {
  .main-nav li a:link,
  .main-nav li a:visited {
    font-size: 15px;
  }
}
