html {
  height: 100%;
}

/* body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  /* background-image: url("https://wallpapershome.com/images/pages/pic_h/23188.jpg"); */

@media screen and (min-width: 969px) {
  .img {
    background-image: url("https://wallpapershome.com/images/pages/pic_h/23188.jpg");
    height: 100%;
  }
}

@media screen and (max-width: 960px) {
  .img {
    background-color: rgb(195, 148, 148);
    /* height: 100vh; */
    min-height: 100vh;
  }
}

/* #login-title {
  text-align: center;
  font-family: "Concert One", cursive;
  color: white;
  margin: 0;
  font-size: 55px;
  padding-top: 80px;
} */

/* .login_container {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
flex-wrap: wrap;
height: 100%;
position: absolute;
width: 100%;
top: 0;
left: 0;
} */

/* Box */
.login-box {
  position: relative;

  width: 75%;
  max-width: 415px;
  height: 500px;
  margin: 0 30px;
  /* top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%); */
  padding: 40px;
  background: rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  border-width: 1px;
  border-color: rgb(207, 104, 104);
  border-style: solid;
}
@media screen and (max-width: 767px) {
  .login_container {
    position: relative;
  }
  .login-box {
    width: 100%;
    max-width: 330px;
    height: 420px;
    margin: 15px 0;
  }
  .img {
    background-color: rgb(195, 148, 148);
  }
}

.login-box h2 {
  font-family: "Montserrat Subrayada", sans-serif;
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  /* User-entered text */
  color: #fff;
  margin-bottom: 30px;
  border: none;
  /* Lines */
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

/* "Login" title */
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

/* "Username" and "Password" titles */
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: rgb(207, 104, 104);
  font-size: 12px;
}

/* "Submit" text on button */
.login-box form .submit-button {
  position: absolute;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

/* Button background on hover */
.login-box .submit-button:hover {
  cursor: pointer;
  background: rgb(207, 104, 104);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(207, 104, 104), 0 0 25px rgb(207, 104, 104),
    0 0 50px rgb(207, 104, 104), 0 0 100px rgb(207, 104, 104);
}

.login-box .submit-button span {
  position: absolute;
  display: block;
}

/* Button outline top */
.login-box .submit-button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, rgb(207, 104, 104));
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

/* Button outline right */
.login-box .submit-button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgb(207, 104, 104));
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

/* Button outline bottom*/
.login-box .submit-button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, rgb(207, 104, 104));
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

/* Button outline left */
.login-box .submit-button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, rgb(207, 104, 104));
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

/*  */

.login-box-2 {
  /* position: absolute; */
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  border-width: 1px;
  border-color: rgb(207, 104, 104);
  border-style: solid;
  margin-left: 10px;
}

.login-box-2 h2 {
  font-family: "Montserrat Subrayada", sans-serif;
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box-2 .user-box {
  position: relative;
}

.login-box-2 .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  /* User-entered text */
  color: #fff;
  margin-bottom: 30px;
  border: none;
  /* Lines */
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

/* "Login" title */
.login-box-2 .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

/* "Username" and "Password" titles */
.login-box-2 .user-box input:focus ~ label,
.login-box-2 .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: rgb(207, 104, 104);
  font-size: 12px;
}

/* "Submit" text on button */
.login-box-2 form .submit-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

/* Button background on hover */
.login-box-2 .submit-button:hover {
  background: rgb(207, 104, 104);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(207, 104, 104), 0 0 25px rgb(207, 104, 104),
    0 0 50px rgb(207, 104, 104), 0 0 100px rgb(207, 104, 104);
}

.login-box-2 .submit-button span {
  position: absolute;
  display: block;
}

/* Button outline top */
.login-box-2 .submit-button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, rgb(207, 104, 104));
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

/* Button outline right */
.login-box-2 .submit-button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgb(207, 104, 104));
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

/* Button outline bottom*/
.login-box-2 .submit-button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, rgb(207, 104, 104));
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

/* Button outline left */
.login-box-2 .submit-button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, rgb(207, 104, 104));
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
